<nav class="navbar  navbar-light bg-light" id="navbar">
  <!-- <button type="button" class="btn" (click)="backClicked()"></button> <!-- back button that calls the backClicked function to go to last page -->
  <img class="img" src="" alt="Logo" routerLink="/"> <!-- logo made in photoshop -->

    <div class="navbar-nav" > <!-- routing learned in class, not needed as only home page but would be usefull if extra pages are added later -->
        <div *ngFor='let pageLink of pageLinks' class="nav-item active">
          <a class='nav-item nav-link'
            [routerLink]='pageLink.path'
            routerLinkActive='active'
            [routerLinkActiveOptions]='{exact: true}'>{{pageLink.name}}</a>
        </div>
    </div>
</nav>

<nav role="navigation" class="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />

    <!--
    Some spans to act as a hamburger.

    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>

    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
      <a href="#"><li>Home</li></a>
      <a href="#"><li>About</li></a>
      <a href="#"><li>Info</li></a>
      <a href="#"><li>Contact</li></a>
      <a href="https://erikterwan.com/" target="_blank"><li>Show me more</li></a>
    </ul>
  </div>
</nav>
