<div class="jumbotron">
  <div class="contanier">
    <div class="left col-sm-6"></div>
    <div class="right col-sm-6">
      <h1 class='IntroTitle'>{{ Intro }}</h1>
      <p class='slogin'>{{ slogin }}</p>
      <button class="btn btn-primary" type="button" name="Contact Me" alt='Contact me button'>Contact Me</button>
    </div>
  </div>
</div>  <!-- End of jumbotron -->

<div class="threeImgDiv"  data-aos="flip-down"> <!-- Start of the three cards  -->
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width:auto">
          <img href="#" class="card-img-top" src="https://via.placeholder.com/50/b9b9b9/000/?text=StefanDesigns.org" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">About Me</h4>
            <p class="card-text">Click here to read a bit about me.</p>
            <a href="#" class="btn btn-primary">Go to about me</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width:auto">
          <img href="#" class="card-img-top" src="https://via.placeholder.com/50/b9b9b9/000/?text=StefanDesigns.org" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">My Work</h4>
            <p class="card-text">Here is some of my past work. Web/Mobile Design, Front-end Developer, Back-end Developer, Wordpress Developer and more.</p>
            <a href="#" class="btn btn-primary">Go to my work</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width:auto">
          <img href="#" class="card-img-top" src="https://via.placeholder.com/50/b9b9b9/000/?text=StefanDesigns.org" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">My Resume</h4>
            <p class="card-text">Think I have what you need? Download my resume here.</p>
            <a href="" class="btn btn-primary">Get my resume</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End of the three cards  -->

<div class="container" class="webDevSlot">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>Web Developer</h1>
    <p>HTML/CSS/JavaScript/TypeScript/Bootstarp/PHP/Angular 2+/Laravel/MySQL/SQL Server</p>
  </div>
</div>

<!-- About me section -->
<div class="container" class="aboutSection">
  <div class="row">
    <div class="col-md-4" class="nameInfo">
      <h3 class="myName">Stefan (Thomas) Ayres</h3>
      <p class="myName">Dundalk, Ireland</p>
    </div>
    <div class="col-md-4">
      <h5>Who am I</h5>
      <p>Hi, I am a web developer & web designer. I also work with digital media like video editing, photo editing and more. You can check it all out in my resume above.
        I have graduated from <b>Dundalk Institute of Technology</b> studing <b>Multimedia Web Development(Hons)</b>. I am currently working in SalesSense International as a Web developer and tech support.
        Along with this I have done some freelance work in graphic design and web design.</p>
      <br>

      <h5></h5>
    </div>
  </div>
</div>
