<div class="jumbotron">
  <div class="contanier">
    <div class="left col-sm-6"></div>
    <div class="right col-sm-6">
      <h1 class='IntroTitle'>{{ Intro }}</h1>
      <p class='slogin'>{{ slogin }}</p>
      <button class="btn btn-primary" type="button" name="Contact Me" alt='Contact me button'>Contact Me</button>
    </div>
  </div>
</div>  <!-- End of jumbotron -->

<div class="threeImgDiv"> <!-- Start of the three cards  -->
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width:auto">
          <img class="card-img-top" src="https://via.placeholder.com/50/b9b9b9/000/?text=StefanDesigns.org" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width:auto">
          <img class="card-img-top" src="https://via.placeholder.com/50/b9b9b9/000/?text=StefanDesigns.org" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width:auto">
          <img class="card-img-top" src="https://via.placeholder.com/50/b9b9b9/000/?text=StefanDesigns.org" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End of the three cards  -->

<div class="container" class="webDevSlot">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>Web Developer</h1>
    <p>HTML/CSS/JavaScript/TypeScript/Bootstarp/PHP/Angular 2+/Laravel/MySQL/SQL Server</p>
  </div>

</div>
